@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;700&family=Titillium+Web:wght@300;400;700&display=swap');

body {
  font-family: 'Titillium Web', sans-serif;
}

#box {
  background-color: #efefef;
  border: solid 1px #3e3e3e;
  padding: 10px;
}